// Specific CSS for your home-page

.main-container {
  width: 74%;
  margin: 16px auto;
  display: flex;
  justify-content: center;
}

.for-sale-sign {
  // height: 15vh;
  padding: 12px 0px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #00acf3;
  // background-color: #810709;
  // background-image:
  //   linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
  //   linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
  //   linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
  //   linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  // background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  // background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.for-sale-sign p {
  display: inline-block;
  color: black;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  margin: 0px;
  // text-shadow: 1px 1px black;

}

.grid-container {
  width: 1200px;
  margin: auto;
  margin-top: 32px;
}

// .cards {
//   display: grid;
//   grid-template-columns: 325px 325px 325px;
//   grid-gap: 16px;
// }

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  width: 74%;
  margin: 0 auto;
  text-align: center;
}

header p {
  // margin: 0px 8px;
}

// @media(max-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }

//   .intro-text {
//     padding: 0px 26px;
//   }
// }

