// Specific CSS for your home-page

.main-container {
  width: 74%;
  margin: 16px auto;
  display: flex;
  justify-content: center;
}

.for-sale-sign {
  padding: 12px 0px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 172, 243, 0.9);
}

.for-sale-sign p {
  display: inline-block;
  color: black;
  // font-family: 'Fjalla One', sans-serif;
  font-family: 'Rock Salt', cursive;
  margin: 0px;
  // text-shadow: 1px 1px black;

}

.grid-container {
  width: 1200px;
  margin: auto;
  margin-top: 32px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  width: 74%;
  margin: 0 auto;
  text-align: center;
}

.item-box::after {
    content: "";
    flex: auto;
}


// Unused CSS Grid code

// .cards {
//   display: grid;
//   grid-template-columns: 325px 325px 325px;
//   grid-gap: 16px;
// }

// @media(max-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }

//   .intro-text {
//     padding: 0px 26px;
//   }
// }

