// Import page-specific CSS files here.
@import "home";
@import "show";
@import "body";

.for-sale-sign {
  background-color: #eb3354;
  border: 1px solid black;
}

.for-sale-sign p {
  color: white;
  text-align: center;
  font-size: 50px;
  margin: 0px;

}

.grid-container {
  width: 1200px;
  margin: auto;
  margin-top: 32px;
}
