.show h1 {
  font-size: 18px;
  font-weight: 500;
}

.show h2 {
  font-size: 16px;
}

.show p {
  font-size: 12px;
}

p.review {
  margin: 0px;
  padding: 0px;
}

.bookmark-red, .bookmark-red:visited {
  color: red;
}

.bookmark-blue, .bookmark-blue:visited {
  color: blue;
}
