footer {
  font-size: .9rem;
  text-align:center;
  border-top: .5px solid rgba(204, 204, 204, 1.00);
  margin-top: 2rem;
  padding: .6rem 0;
  background-color: rgba(237, 237, 237, 1.00);
  // display: flex;
  // justify-content: center;
  align-items: center;
}
