.item-box {
  display: inline-block;
  width: 325px;
  height: 325px;
  background-color: white;
  color: black;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #A0A0A0;
  margin: 16px;
}

.img-rounded {
  border-radius: 6px 6px 0px 0px;
}
.item-box a {
  text-decoration-line: none;
}

.item-box a:hover {

}

div.item-text {
  display: inline-block;
}

.item-name {
  // margin-top: 8px;
  display: inline-block;
  margin: 8px;
  font-size: 15px;
}

.price {
  display: inline;
  color: #272727;
  border-radius: 3px;
  padding: 1px;
  border: 1px solid #cccccc;
  margin-left: 8px;

}

