.item-box {
  display: inline-block;
  width: 325px;
  height: 325px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 4px #cccccc;
  margin: 16px;
  color: #0001ee;
  // outline-style: solid;
  // outline-width: 1px;
  // outline-color: rgba(204, 204, 204, 1.00);
  // border: 1px solid rgba(204, 204, 204, 1.00);
}

.img-rounded {
  border-radius: 6px 6px 0px 0px;
}

div.item-text {
  display: inline-block;
}

.item-name {
  // margin-top: 8px;
  display: inline-block;
  margin: 8px;
  font-size: 16px;
}

.item-name-underline:hover {
  text-decoration-line: underline;
}

.price {
  display: inline;
  color: #272727;
  border-radius: 3px;
  padding: 1px 3px;
  border: 1px solid #cccccc;
  margin-left: 8px;
  font-size: 13px;

}

.corner-price {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  background: white;
  margin: 0px;
  padding: 2px 5px;
  border-radius: 5px 0px 5px 0px;
  font-size: 14px;
  border-style: none solid solid none;
}

.display-image-count {
  position: absolute;
  z-index: 999;
  top: 0;
  // left: 0;
  background: white;
  font-size: 13px;
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  opacity: 0;
  color: black;
  padding: 2px;
}

.display-image-count.appears {
  opacity: 0.7
}

.testtest {
  width: 100px;
  height: 20px;
  background-color: black;
}

